$govuk-font-family: 'Arial', sans-serif;

$dp-black: #0b0c0c;
$dp-mid-grey: #b1b4b6;
$dp-light-grey: #f3f2f1;
$dp-white: #fff;
$dp-dark-blue: #003078;
$dp-blue: #1d70b8;
$dp-yellow: #fd0;

$dp-tablet: 641px;

.date-picker {
  &__container {
    display: block;
    position: relative;
    margin-top: 10px;
    @media screen and (min-width: $dp-tablet) {
      display: inline-block;
      margin-top: 0;
    }
  }

  &__dialog {
    position: absolute;
    z-index: 1002;
    top: 0;
    padding: 10px;
    border: 4px solid $dp-black;
    background-color: $dp-white;
    @media screen and (min-width: $dp-tablet) {
      top: -8px;
      left: auto;
      right: auto;
    }
  }

  &__reveal--hidden,
  &__dialog--hidden {
    display: none;
  }

  &__header {
    display: block;
    text-align: center;
  }

  &__heading {
    font-family: $govuk-font-family;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
  }

  &__date-table {
    margin: 10px 0;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: $dp-light-grey;
  }

  &__button__close {
    width: 100%;
    margin-bottom: 0;
  }

  &__button__previous-month,
  &__button__next-month {
    color: $dp-black;
    width: 24px;
    height: 24px;
    position: relative;
  }

  &__button__previous-month {
    float: left;
  }

  &__button__next-month {
    float: right;
  }

  &__button__previous-month:before,
  &__button__next-month:before {
    top: 0;
    left: 0;
    position: absolute;
    content: '\279C';
    width: 24px;
    height: 24px;
    background-color: $dp-black;
    border-radius: 50%;
  }

  &__button__previous-month:after,
  &__button__next-month:after {
    position: absolute;
    top: 2px;
    color: $dp-white;
    font-size: 18px;
    font-weight: bold;

    /* IE10-11 */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      top: 0;
    }
  }

  &__button__previous-month:after {
    left: 6px;
    content: '\276E';

    /* IE10-11 */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      left: 5px;
    }
  }

  &__button__next-month:after {
    left: 8px;
    content: '\276F';

    /* IE10-11 */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      left: 7px;
    }
  }

  &__button__previous-month,
  &__button__next-month,
  &__reveal {
    font-family: $govuk-font-family;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  &__reveal {
    text-decoration: underline;
    color: $dp-blue;
  }

  &__reveal:hover {
    color: $dp-dark-blue;
    cursor: pointer;
  }

  &__reveal:focus {
    text-decoration: none;
    background: $dp-yellow;
    outline: 3px solid transparent;
    box-shadow: 0 -2px $dp-yellow, 0 4px $dp-black;
  }

  &__button__previous-month:hover,
  &__button__next-month:hover,
  &__button__previous-month:focus,
  &__button__next-month:focus {
    cursor: pointer;
    color: $dp-black;
    text-decoration-thickness: 3px;
    box-shadow: 0 4px $dp-black;
  }

  &__button--disabled {
    opacity: .5;
  }

  &__button--disabled:hover {
    text-decoration-thickness: 1px;
    cursor: not-allowed;
    color: $dp-black;
    box-shadow: none;
  }
}

.date-picker__date-table thead th,
.date__button {
  font-family: $govuk-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 19px;
  padding: 5px;
}

.date__button {
  width: 36px;
  height: 36px;
  margin: 0;
  border: 1px solid $dp-mid-grey;
  color: $dp-blue;
  background-color: $dp-white;
  text-align: center;

  &:focus {
    outline: 3px solid $dp-yellow;
    outline-offset: 0;
    color: $dp-dark-blue;
    box-shadow: inset 0 0 0 2px;
    text-decoration-thickness: 3px;
  }

  &:hover {
    color: $dp-dark-blue;
    cursor: pointer;
    text-decoration: underline;
  }

  &--inactive,
  &--inactive:hover {
    color: $dp-black;
    background-color: $dp-light-grey;
  }

  &--disabled {
    background-color: $dp-light-grey;
    opacity: .4;
    color: $dp-black;
    text-decoration: none;
  }

  &--disabled:hover {
    color: $dp-black;
    text-decoration: none;
    text-decoration-thickness: 0;
    cursor: not-allowed;
  }

  &--today {
    border-bottom: 4px solid $dp-blue;
  }

  &--selected {
    background-color: $dp-blue;
    color: $dp-white;
  }

  &--selected:hover,
  &--selected:focus {
    color: $dp-white;
  }
}
