$govuk-font-family: 'Arial', sans-serif;

@import 'govuk-frontend/govuk/components/button/_button';

$black: #0b0c0c;
$mid-grey:	#b1b4b6;
$light-grey: #f3f2f1;
$white: #fff;
$dark-blue:	#003078;
$blue: #1d70b8;
$yellow: #fd0;

$tablet: 641px;

.date-picker-demo-container {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.date-picker {
  &__container {
    display: inline-block;
    position: relative;
  }

  &__dialog {
    position: absolute;
    z-index: 10;
    right: 0;
    top: -12px;
    padding: 10px;
    border: 4px solid $black;
    background-color: $white;
    @media screen and (min-width: $tablet) {
      top: -8px;
      right: auto;
    }
  }

  &__reveal--hidden,
  &__dialog--hidden {
    display: none;
  }

  &__header {
    display: block;
    text-align: center;
  }

  &__heading {
    font-family: $govuk-font-family;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
  }

  &__date-table {
    margin: 10px 0;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: $light-grey;
  }

  &__button__close {
    width: 100%;
    margin-bottom: 0;
  }

  &__button__previous-month,
  &__button__next-month {
    color: $black;
    text-indent: -999em;
    overflow: hidden;
    width: 20px;
    height: 20px;
    @media screen and (min-width: $tablet) {
      width: 25px;
      height: 25px;
    }
  }

  &__button__previous-month {
    float: left;
    background: url('../images/icon-circle-left.svg') repeat 0 0;
  }

  &__button__next-month {
    float: right;
    background: url('../images/icon-circle-right.svg') repeat 0 0;
  }

  &__button__previous-month,
  &__button__next-month,
  &__reveal {
    font-family: $govuk-font-family;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  &__reveal {
    text-decoration: underline;
    color: $blue;
  }

  &__reveal:hover {
    color: $dark-blue;
    cursor: pointer;
  }

  &__reveal:focus {
    text-decoration: none;
    background: $yellow;
    outline: 3px solid transparent;
    box-shadow: 0 -2px $yellow, 0 4px $black;
  }

  &__button__previous-month:hover,
  &__button__next-month:hover,
  &__button__previous-month:focus,
  &__button__next-month:focus {
    cursor: pointer;
    color: $black;
    text-decoration-thickness: 3px;
    box-shadow: 0 4px $black;
  }

  &__button--disabled {
    opacity: .5;
  }

  &__button--disabled:hover {
    text-decoration-thickness: 1px;
    cursor: not-allowed;
    color: $black;
    box-shadow: none;
  }
}

.date-picker__date-table thead th,
.date__button {
  font-family: $govuk-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 19px;
  padding: 5px;
}

.date__button {
  width: 100%;
  margin: 0;
  border: 1px solid $mid-grey;
  color: $blue;
  background-color: $white;
  text-align: center;

  &:focus {
    outline: 3px solid $yellow;
    outline-offset: 0;
    color: $dark-blue;
    box-shadow: inset 0 0 0 2px;
    text-decoration-thickness: 3px;
  }

  &:hover {
    color: $dark-blue;
    cursor: pointer;
    text-decoration: underline;
  }

  &--inactive,
  &--inactive:hover {
    color: $black;
    background-color: $light-grey;
  }

  &--disabled {
    background-color: $light-grey;
    opacity: .4;
    color: $black;
    text-decoration: none;
  }

  &--disabled:hover {
    color: $black;
    text-decoration: none;
    text-decoration-thickness: 0;
    cursor: not-allowed;
  }

  &--today {
    margin-bottom: -3px;
    border-bottom: 4px solid $blue;
  }

  &--selected {
    background-color: $blue;
    color: $white;
  }

  &--selected:hover,
  &--selected:focus {
    color: $white;
  }
}
