$dp-black: #0b0c0c;
$dp-dark-grey: #505a5f;
$dp-mid-grey: #b1b4b6;
$dp-light-grey: #f3f2f1;
$dp-close-button-hover: #dbdad9;
$dp-white: #fff;
$dp-button-border: #929191;
$dp-dark-blue: #003078;
$dp-blue: #1d70b8;
$dp-light-blue: #5694ca;
$dp-yellow: #fd0;
